*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

html{
    overflow-x: hidden;
}

body{
    background: white;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
}

/* UTILITY CLASS */

li, a{
    text-decoration: none;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}

h2{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 10vh;
    font-family: 'Oswald', san s-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container{
    display: flex;
    position: relative;
} */

/* NAVBAR */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background: #f5f5f5;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5); */
}

.logo{
    color: black;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-family: 'Oswald', san s-serif;
}

.logo:hover{
    color: grey;
}

.cen-nav{
    list-style: none;
    position: relative;
    top: 11px;
}

.cen-nav li{
    display: inline-block;
    padding: 0px 15px;
}

.cen-nav li a{
    text-decoration: none;
    transition: all 0.2s ease 0s;
    color: black;
}

.cen-nav li a:hover{
    color: grey;
}

.search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}

.icon{
    padding: 0 8px;
    color: black;
    transition: all 0.2s ease 0s;
}

.icon:hover{
    color: grey;
}

.searchbox{
  
    position: absolute;
    right: 100%;
    width: 300%;
    height: 100%;
    display: flex;
    /* background: #fff; */
    align-items: center;
    padding: 0 11px;
    transition: 0.2s ease-in-out;
}


.searchbox input{
    border: none;
    outline: none;
    height: 30px;
    position: absolute;
    background: #f5f5f5;
    width: 19vh;
    right: 21px;
    border-bottom: 1px solid black;     
}

.searchBtn{
    position: relative;
    transition: 0.2s ease-in-out;
}

.searchBtn.active{
    left: 0;
}

.closeBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.search a{
    text-decoration: none;
    color: black;
}

.nav-icon{
    margin-right: 0.5rem;
}

/* BANNER */

.container::-webkit-scrollbar{
    display: none;
}

.container{
    height: 65vh;
    width: 100%;
    /* overflow-y: auto;
    overflow-x: hidden; */
    perspective: 10px;
    /* position: relative; */
}

.sub-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-10px) scale(2);
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.foreground{
    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    max-height: 125%;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
    top: 2%;
    left: -26%;
    box-sizing: border-box;
    /* box-shadow: 0px 78px 86px -15px #111; */
}

/* .background .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
} */

#text{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -26%;
    align-items: start;
}

.container h1{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 13vh;
    font-family: 'Oswald', san s-serif;
    position: relative;
    right: -90px;
}

.container h3{
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    position: relative;
    right: -99px;
}

/* VIDEO-CARD */

.company-container{
    position: relative;
    height: 100%;
    width: auto;
    margin: 70px;
}

/* .company-container a{
    position: relative;
    max-width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-top: 44px;
    margin-bottom: 20px;
    justify-content: space-between;
    z-index: 1; */
    /* max-width: 100%; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
/* } */

.video-card-container{
    position: relative;
    max-width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-top: 44px;
    margin-bottom: 20px;
    justify-content: space-between;
    z-index: 1;
    /* max-width: 100%; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}


.video-card{
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 125%;
    border-radius:5px;
    overflow: hidden;
    background: #030b17;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card-image{
    position: absolute;
}

.video-card:hover .video-card-image{
    display: none;
}

.video-card-container .heading h1{
    position: relative;
}

/* FOOTER */


footer{
    background-color: black;
    /* overflow: hidden; */
    width: 100%;
}

footer h1{
    writing-mode: vertical-rl;
    font-size: 4vh;
    transform: rotate(180deg);
}

footer .container-fluid{
    width: 94%;
}

.col-md-3 i{
    margin-right: 20px;
    transition: 0.5s;
    font-size: larger;
}

.col-md-3 i:hover{
    color: grey;
    transform: translateY(-10px);
}

.contact-links{
    display: flex;
}

.col-md-3 ul{
    padding: 2px;
}

.col-md-3 ul li{
    list-style-type: none;
    margin-bottom: 20px;
}

.col-md-3 ul li a{
    color: #f5f5f5;
}

.col-md-3 ul li a:hover{
    color: grey;
}

footer ul li a{
    font-family: 'Rajdhani', sans-serif;
}
